# Ignore to-do list
/todo.txt

# Scrips to help with color detection
/modules/colors.csv
/video_color_detection.py

# Unfinished
/drones.dat
/bottom_camera.py
/swarm_connect.py
/robomaster.py
/robomastertt.py
